<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3 class="text-white bg-warning px-2 ml-2">T C</h3>
      <ul　class="login_menu">
        <li class="title text-warning menu">
         How to Use
        </li>
        <li class="title text-warning menu">
         To Create
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%=link_to "マイページ","/users/#{@user.id}",{ :class => "dropdown-item"} %>
        <a class="dropdown-item" href="#">使い方</a>
        <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
        <%=link_to "ログアウト",{:controllor => "users", :aciton=> "logout", :method => "post"},{ :class => "dropdown-item"} %>
        </div>
      </div>

      <% if flash[:notice] %>
      <div class="flash my-1">
        <%= flash[:notice] %>
      </div>
     <% end %>

      <div class="clear"></div>
    </header>

    <div class="edit">
    <div class="container middle-wrapper bg-light  border-bottom text-center py-3">
    <div class="login_form">
        <h4 class="title text-warning">edit account</h4>
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error title">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/#{@user.id}/update") do %>
         <div class="input mt-3 mb-3"><input name="name" value="<%= @user.name %>"  placeholder="名前"></div>
         <div class="input mt-3 mb-3"><input name="email" value="<%= @user.email %>" placeholder="メールアドレス"></div>
         <div class="input mb-3"><input name="password" value="<%= @user.password %>" type="password" placeholder="パスワード"></div>
         <div class="input create_account mb-3"><input type="submit" value="保存"></div>
        <% end %>
    </div>
  </div>

    </div>

</div>