<div class="wrapper">
    <header class="head pb-2 pt-2 text-center bg-warning bg-light title"><h1><a href="/" class="text-warning">TIME CAPSULE</a></h1></header>

     <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
     <% end %>

<div class="d-none d-sm-block navbar navbar-expand-md navbar-white bg-warning mb-4 py-3 text-center mt-4">
        <h7><a href="/about" class="about title text-white">WHAT IS TIME CAPSULE</a></h7>
    </div>
        <div class="h5 text-center d-sm-none mt-2"><a href="/about" class="about title text-warning">WHAT IS TIME CAPSULE</a></div>

<div class="d-none d-sm-block container middle-wrapper bg-light  border-bottom text-center py-3">
  <div class="login_form">
   <%= form_tag("/login") do %>
      <h6 class="title">TIME CAPSULEにログイン</h6>
      <% if @error_message %>
       <div class="form-error">
        <%= @error_message %>
       </div>
      <% end %>
      <div class="input mt-3 mb-3"><input name="email" value="<%= @email %>" placeholder="メールアドレス"></div>
      <div class="input mb-3"><input name="password" value="<%= @password %>" type="password" placeholder="パスワード"></div>
      <div class="input login_account mb-1"><input type="submit" value="ログイン"></div>
　 <% end %>
      <div class="mb-3">-または-</div>
      <button type="hidden" class="btn btn-top btn-warning mb-4"><a href="/signup" class="text-white">新しいアカウントを作成</a></button>
  </div>
</div>

<div class="d-sm-none container text-center py-3">
  <div class="login_form">
   <%= form_tag("/login") do %>
      <h6 class="title">TIME CAPSULEにログイン</h6>
      <% if @error_message %>
       <div class="form-error">
        <%= @error_message %>
       </div>
      <% end %>
      <div class="input mt-3 mb-3"><input name="email" value="<%= @email %>" placeholder="メールアドレス"></div>
      <div class="input mb-3"><input name="password" value="<%= @password %>" type="password" placeholder="パスワード"></div>
      <div class="input login_account mb-1"><input type="submit" value="ログイン"></div>
　 <% end %>
      <div class="mb-3">-または-</div>
      <button type="hidden" class="btn btn-top btn-warning mb-4"><a href="/signup" class="text-white">新しいアカウントを作成</a></button>
  </div>
</div>

</div>

