
<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3><%=link_to "T C","/users/#{@user.id}",{ :class => "d-block bg-warning px-2 ml-2 title text-white"} %></h3>     
      <ul　class="login_menu">
        <li class="title text-warning menu">
         <%=link_to "How to Use","/users/#{@user.id}/how_to_use",{ :class => "title text-warning"} %>
        </li>
        <li class="title text-warning menu">
        <%=link_to "To Create","/picture/#{@user.id}/make",{ :class => "title text-warning"} %>
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/users/#{@user.id}",{ :class => "dropdown-item"} %>
          <%=link_to "使い方","/users/#{@user.id}/how_to_use",{ :class => "dropdown-item"} %>
          <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
          <%=link_to "ログアウト","/logout",{method: :post, :class => "dropdown-item"} %>
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
       <div class="flash">
        <%= flash[:notice] %>
       </div>
      <% end %>

      <div class="clear"></div>
    </header>


  
  <div class="container">
    <% if @pictures.present? %>
     <h4 class="h3 title text-warning text-center mt-3">Timecapsule一覧</h4>
      <div class="row album">
      <% @pictures.each do |picture| %>
       <div class="col-sm-6 col-md-3 py-3 mt-3 row-eq-height work mx-auto">
        <% if picture.status == "stand_by" %><div class="mb-1"><span class="fa fa-envelope"></span> 送信待機中</div><% end %>
        <% if picture.status == "completion" %><div class="mb-1"><span class="fa fa-share-square"></span> 送信完了</div><% end %>
        <% if picture.status == "none" %><div class="mb-1"><span class="fa fa-envelope-square"></span> 未送信</div><% end %>
       <div class="card img-thumbnail"> 
        <%= link_to image_tag("/images/#{picture.image_name}", {:class => "card-img-top"}), {:controller => :picture, :id => picture.id, :action => :image_show, :pass => picture.image_name, :pass2 => picture.title}, {:target => "_blank"} %>
            
         <div class="card-body px-2 py-3">
          <h4 class="card-title text-center image_title text-secondary title"><%= "title：#{picture.title}" %></h4>
          <%= link_to("Timecapsuleを編集", "/picture/#{picture.id}/image_edit", :class => "image_edit mb-2 title") %>
          <%= link_to("Timecapsuleを削除", "/picture/#{picture.id}/destroy", {method: "post", :class => "image_destroy title",data: { :confirm => '削除します。よろしいですか?'} }) %>
          <%= link_to("Timecapsuleを送信", "/picture/#{picture.id}/confirm_mail", {:class => "sent_email title",data: { :confirm => 'Timecapsuleを届けます。よろしいですか?' } }) %>
         </div>
       </div>   
       </div>
      <% end %> 
      </div> 
    <% else %>
   <div class="container mx-auto text-center">
   <h4 class="h3 title text-warning text-center mt-3">Nothing Timecapsule</h4>
   <%= link_to("Timecapsule作成", "/picture/#{@user.id}/make", :class => "h5 image_nil mt-5 title text-white") %>
   </div>
    <% end %>
  </div>

</div>



