
<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3 class="text-white bg-warning px-2 ml-2">T C</h3>
      <ul　class="login_menu">
        <li class="title text-warning menu">
         How to Use
        </li>
        <li class="title text-warning menu">
         To Create
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/users/#{@user.id}",{ :class => "dropdown-item"} %>
          <a class="dropdown-item" href="#">使い方</a>
          <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
          <%=link_to "ログアウト","/logout",{method: :post, :class => "dropdown-item"} %>
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
     <% end %>

  

      <div class="clear"></div>
    </header>

    <div class="album">
      

    </div>

</div>