<div class="use_wrapper bg-white">
    <header class="head pb-2 pt-2 mb-3 text-center bg-warning bg-white title"><h1><a href="/" class="text-warning">TIME CAPSULE</a></h1></header>
   
    <div class="h3 title text-warning mt-4 text-center mx-auto d-none d-md-block">TIME CAPSULEの作り方</div>
    <div class="h5 title text-warning mt-4 text-center mx-auto d-md-none">TIME CAPSULEの作り方</div>

  <div class="container mt-4 bg-white mx-auto text-center d-none d-md-block">
   <div class="row mx-auto text-center py-3">
  
    <div class"col-md-4 process1 row-eq-height mx-auto text-center mb-2">
     <div class="pt-2 text-left">① お気に入りの写真をアップロード</div>
     <img src="<%="/screen1.jpeg"%>" class="img-fluid create_method">
    </div>

    <div class="col-md-2">
     <span class="fa fa-caret-right fa-4x pt-5"></span>
    </div>

    <div class"col-md-4 process2 row-eq-height mx-auto text-center mb-2">
     <div class="pt-2 text-left">② Timecapsuleのタイトルなどを記入</div>
     <img src="<%="/screen_form.jpg"%>" class="img-fluid create_method">
    </div>

    <div class"col-md-4 process3 mt-2 row-eq-height mx-auto text-center mb-2">
     <div class="pt-2 text-left">③ レイアウト背景とページ数を設定</div>
     <img src="<%="/screen2.png"%>" class="img-fluid create_method">
    </div>

    <div class="col-md-2">
     <span class="fa fa-caret-right fa-4x pt-5"></span>
    </div>

    <div class"col-md-4 process3 mt-2 mr-2 row-eq-height mx-auto text-center mb-2">
     <div class="pt-2 text-left">④ アルバムを作成</div>
     <img src="<%="/screen4.png"%>" class="img-fluid create_method">
    </div> 

   </div>
  </div>

  <div class="container mt-4 mx-auto d-md-none bg-white pb-2">
   <div class="row mx-auto">
  
    <div class"col-12 process1 row-eq-height mx-auto mb-2">
     <div class="pt-2">① お気に入りの写真をアップロード</div>
     <img src="<%="/screen1.jpeg"%>" class="img-fluid create_method">
    </div>

    <div class"col-12 process2 row-eq-height mx-auto mb-2">
     <div class=" pt-2">② Timecapsuleのタイトルなどを記入</div>
     <img src="<%="/screen_form.jpg"%>" class="img-fluid create_method">
    </div>

    <div class"col-12 process3 mt-2 mr-2 row-eq-height mx-auto">
     <div class="pt-2">③ レイアウト背景とページ数を設定</div>
     <img src="<%="/screen2.png"%>" class="img-fluid create_method">
    </div>

    <div class"col-12 process4 mt-2 row-eq-height mx-auto">
     <div class="pr-5 pt-2">④ アルバムを作成</div>
     <img src="<%="/screen4.png"%>" class="img-fluid create_method">
    </div> 

   </div>
  </div>
 


</div>