<div class="show_wrapper">
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
<h4 class="h3 image_show_top title text-center text-warning mt-3">Timecapsule</h4>
<div class="container image_show bg-light py-3 px-3">
  <div><img class="img-fluid" src="<%= "/images/#{@picture.image_name}" %>"></div>
  <div class="image_explain bg-warning p-2 mt-3">
  <div class="h4 my-2 title image_title text-white text-left"><%= "title：#{@picture.title}" %></div>
  <div class="h5 my-2 title image_coment text-white text-left"><%= "message：#{@picture.coment}" %></div>
  <% if @user %>
   <% if @picture.status == "stand_by" %>
    <div class="h5 text-white title text-left">status:送信待機中</div>
   <% elsif @picture.status == "completion" %>
    <div class="h5 text-white title text-left">status:送信完了</div>
   <% else %>
    <div class="h5 text-white title text-left">status:未送信</div>
   <% end %>
     <div class="h5 my-2 title  text-white text-left"><%= "send_at：#{@picture.send_time}" %></div>
  <% end %>
</div>
  <input type="button" class="btn btn-default bg-primary text-white mt-3" value="閉じる" onClick="window.close()">
</div>
</div>

