<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3><%=link_to "T C","/album/#{@album.id}/stop_create_album",{method: "post", :class => "d-block bg-warning px-2 ml-2 title text-white",data: { :confirm => 'アルバムを破棄します。よろしいですか?'} } %></h3>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="fa fa-user"></span> <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/album/#{@album.id}/stop_create_album",{method: "post", :class => "dropdown-item",data: { :confirm => 'アルバムを破棄します。よろしいですか?'} } %>
          
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>

      <div class="clear"></div>
    </header>

    <div class="h5 text-danger mt-4 mx-auto text-center title">レイアウトを作成してください</div>

    <%= form_tag("/album/#{@album.id}/preview",{method: "get"}) do %><!--form_tag/ -->

    <div class="container">
     <div class="row">
      <div class="config col-sm-12 col-md-4 py-3 mt-3  bg-light">
        <div class="container">
          <div class="row album">
          <% @images.each_with_index do |image,i| %>
            <div class="col-sm-4 col-md-6 py-1 mr-1 mt-3  pictureimage mx-auto">          
              <img src="<%="#{image.image}"%>" class="img-fluid img_list img_select<%= i %>" name="<%= i %>">
              <input type="hidden" name="image_date[<%= i %>][id]" value="<%="#{image.id}"%>">
              <input type="hidden" name="image_date[<%= i %>][left]" value="">
              <input type="hidden" name="image_date[<%= i %>][top]" value="">
              <input type="hidden" name="image_date[<%= i %>][height]" value="">
              <input type="hidden" name="image_date[<%= i %>][width]" value="">
            </div>      
          <% end %>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.config -->

      <div class="col-sm-12 col-md-8 py-5 mt-3 row-eq-height">
        <% if @layout.to_i == 1 %>
        <%= render :partial => "layout" %>
        <% elsif @layout.to_i == 2 %>
        <%= render :partial => "layout2" %>
        <% elsif @layout.to_i == 3 %>
        <%= render :partial => "layout3" %>
        <% else %>
        <div class="mx-auto text-center text-danger h4">レイアウトを設定してください</div>
        <% end %>
        <input type="hidden" name="layout" value="<%= @layout %>"><!-- /layout_bg -->
      </div>
      
     </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="mt-4 mx-auto text-center">

      <div class="text-center mx-auto preview"><input type="submit" value="プレビュー画面へ >>" class="cd_page py-2 px-3 mr-2 mb-2 text-white"></div>
     <% end %><!-- /.form_tag -->

     <%= form_tag("/album/#{@album.id}/edit_album", {method:"get"}) do %>
      <input type="submit" value="<< 設定ページに戻る" name="back" class="cd_page py-2 px-3 mr-2 text-white">
     <% end %>

    </div>    


</div>