<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3><%=link_to "T C","/users/#{@user.id}/user_top",{ :class => "d-block bg-warning px-2 ml-2 title text-white"} %></h3> 
      <ul　class="login_menu">
        <li class="title text-warning menu">
         <%=link_to "How to Use","/users/#{@user.id}/how_to_use",{ :class => "title text-warning"} %>
        </li>
        <li class="title text-warning menu">
        <%=link_to "To Create","/album/#{@user.id}/create",{ :class => "title text-warning"} %>
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="fa fa-user"></span> <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/users/#{@user.id}/user_top",{ :class => "dropdown-item"} %>
          <%=link_to "使い方","/users/#{@user.id}/how_to_use",{ :class => "dropdown-item"} %>
          <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
          <%=link_to "ログアウト","/logout",{method: :post, :class => "dropdown-item"} %>
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>

      <div class="clear"></div>
    </header>

    <div class="h5 text-danger mb-2 mt-4 mx-auto text-center title">Timecapsuleのページ数と背景を選んでください</div>

    <div class="container mt-3">
     <div class="row">
      <div class="config col-sm-6 col-md-2 py-3 mt-3  bg-light">
       <p class="w-100 config_name">ページ数</p>
      <select>
        <option value="1">１ページ</option>
        <option value="2">２ページ</option>
        <option value="3">３ページ</option>
        <option value="4">４ページ</option>  
      </select>
        <p class="config_name">背景 <span class="fa fa-undo reset_bg p-1 mt-2"></span></p>
        <%= form_tag("/album/#{@album.id}/create_album",{method: "get"}) do %>
         <input type="hidden" name="layout" value="">
          <img name="1" src="/sample3.jpg" alt="確認する" class="img-fluid card-img bg_color mb-2">
          <img name="2" src="/sample4.jpg" alt="確認する" class="img-fluid card-img bg_color mb-2">
          <img name="3" src="/sample5.jpg" alt="確認する" class="img-fluid card-img bg_color">    
        
      </div>

      <div class="col-sm-6 col-md-2 py-3 mt-3 bg-light title">
        <p class="h6 mx-auto text-center config_name">Imagelayout <span class="fa fa-save"></span></p>
        <div class="img_layout">
         <img src="" class="layout_bg w-100 mt-3 img-fluid card-img">
         <p class = "h4 page_date w-100 text-center"></p>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 py-3 mt-3 row-eq-height sample_image">
       <p class="title h4 w-100 text-danger text-center">Sample</p>
        <div id="carouselExampleSlidesOnly" class="carousel slide mx-auto" data-ride="carousel">
         <!-- スライドさせる画像の設定 -->
          <div class="carousel-inner">
           <div class="carousel-item">
            <img class="d-block w-100 config_sample" src="<%="/sample13.jpg"%>" alt="第1スライド">
             </div><!-- /.carousel-item -->
           <div class="carousel-item  active">
            <img class="d-block w-100 config_sample" src="<%="/sample10.jpg"%>" alt="第2スライド">
             </div><!-- /.carousel-item -->
           <div class="carousel-item">
            <img class="d-block w-100 config_sample" src="<%="/sample11.jpg"%>" alt="第3スライド">
             </div><!-- /.carousel-item -->
          </div><!-- /.carousel-inner -->
         <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
         </a>
          
        </div>
       
      </div>
     </div>
    </div> 


    <div class="mt-4 mx-auto text-center">
     
     <div class="text-center mx-auto"><input type="submit" value="次へ >>" class="cd_page py-2 px-3 mr-2 mb-2 text-white"></div>
     <% end %><!-- /.form_tag -->

     <%= form_tag("/album/#{@album.id}/destroy") do %>
      <input type="submit" value="<< 前へ" name="back" class="cd_page py-2 px-3 mr-2 text-white">
     <% end %>
    
    </div>    

</div>
    