<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3><%=link_to "T C","/users/#{@user.id}/user_top",{ :class => "d-block bg-warning px-2 ml-2 title text-white"} %></h3> 
      <ul　class="login_menu">
        <li class="title text-warning menu">
         <%=link_to "How to Use","/users/#{@user.id}/how_to_use",{ :class => "title text-warning"} %>
        </li>
        <li class="title text-warning menu">
        <%=link_to "To Create","/album/#{@user.id}/create",{ :class => "title text-warning"} %>
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="fa fa-user"></span> <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/users/#{@user.id}/user_top",{ :class => "dropdown-item"} %>
          <%=link_to "使い方","/users/#{@user.id}/how_to_use",{ :class => "dropdown-item"} %>
          <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
          <%=link_to "ログアウト","/logout",{method: :post, :class => "dropdown-item"} %>
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
      <% end %>

      <div class="clear"></div>
    </header>

    <div class="h4 text-danger mt-4 mx-auto text-center title">プレビュー画面</div>
    <div class="h5 mt-3 mx-auto text-center">送付先：<%= @album.target_for %></div>

 <div class="container">
  <div class="row">

   <div class="col-sm-0 col-md-1"></div>

    <div class="col-sm-12 col-md-10 py-3 mt-2">
        <% if @layout.to_i == 1 %>
            <%= render :partial => "layout" %>
            <% elsif @layout.to_i == 2 %>
            <%= render :partial => "layout2" %>
            <% elsif @layout.to_i == 3 %>
            <%= render :partial => "layout3" %>
            <% else %>
            <div class="mx-auto text-center text-danger h4">レイアウトを設定してください</div>
        <% end %>
    </div>

   <div class="col-sm-0 col-md-1"></div>

  </div>
 </div>

 <div class="mt-4 mx-auto text-center">
 
  <%= form_tag("/detail/#{@album.id}/create") do %>
   <input type="hidden" name="layout" value="<%= @layout %>"><!-- /layout_bg -->
   <% @date = @image_date.keys.map {|date| @image_date[date]} %>
   <% @date.each_with_index do |date,i| %>
    <input type="hidden" name="image_date[<%= i %>][id]" value="<%= date[:id] %>">
    <input type="hidden" name="image_date[<%= i %>][left]" value="<%= date[:left] %>">
    <input type="hidden" name="image_date[<%= i %>][top]" value="<%= date[:top] %>">
    <input type="hidden" name="image_date[<%= i %>][height]" value="<%= date[:height] %>">
    <input type="hidden" name="image_date[<%= i %>][width]" value="<%= date[:width] %>">
   <% end%>
   <input type="submit" value="保存 >>" class="cd_page py-2 px-3 mr-2 mb-2 text-white">
  <% end %>
  <!-- /<input type="submit" value="保存 >>" name="back" class="cd_page py-2 px-3 mr-2 text-white"> -->

 <%= form_tag("/album/#{@album.id}/create_album", {method:"get"}) do %>
   <input type="submit" value="<< 戻る" name="back" class="cd_page py-2 px-3 mr-2  text-white">
   <input type="hidden" name="layout" value="<%= @layout %>"><!-- /layout_bg -->
 <% end %>

 </div>


</div>