<div class="login_wrapper">
    <header class="head pb-2 pt-2 bg-warning bg-light title">
      <h3><%=link_to "T C","/users/#{@user.id}",{ :class => "d-block bg-warning px-2 ml-2 title text-white"} %></h3> 
      <ul　class="login_menu">
        <li class="title text-warning menu">
         <%=link_to "How to Use","/users/#{@user.id}/how_to_use",{ :class => "title text-warning"} %>
        </li>
        <li class="title text-warning menu">
        <%=link_to "To Create","/picture/#{@user.id}/make",{ :class => "title text-warning"} %>
        </li>
      </ul>
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-warning text-white dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="fa fa-user"></span> <%= @current_user.name %>
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=link_to "マイページ","/users/#{@user.id}",{ :class => "dropdown-item"} %>
          <%=link_to "使い方","/users/#{@user.id}/how_to_use",{ :class => "dropdown-item"} %>
          <%=link_to "アカウント設定","/users/#{@user.id}/edit",{ :class => "dropdown-item"} %>
          <%=link_to "ログアウト","/logout",{method: :post, :class => "dropdown-item"} %>
        </div><!-- /.dropdown-menu -->
      </div>

      <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
     <% end %>

      <div class="clear"></div>
    </header>
    
     <% if @images.present? %>
      <div class="h5 text-danger mt-4 mx-auto text-center">アップロードされた写真で問題なければ【作成画面】へ進んでください</div>
     <% else %>
      <div class="h5 text-danger mt-4 mx-auto text-center">アップロードしている写真がありません</div>
     <% end %>

    <div class="container mt-3 bg-light">
     <div class="row album bg-light">
      <% if @images.present? %>
       <% @images.each do |image| %>
        <div class="col-sm-4 col-md-2 py-3 mr-1 mt-3  picture mx-auto bg-light">
         <div class="card img-thumbnail bg-light upload_image">
          <img src="<%="#{image.image}"%>" class="img-fluid">
         </div>
          <%= link_to("写真を削除", "/image/#{image.id}/destroy", {method: "post", :class => "bg-warning text-white text-center mt-1 mx-auto p-1 title btn_destroy_close picture_edit",data: { :confirm => '削除します。よろしいですか?'} }) %>
        </div>
        
       <% end %>
      <% else %>
       <div class="h3 text-warning mx-auto text-center title py-5">No Image</div>
      <% end %> 
     </div> 
    </div>

    <div class="mt-4 mx-auto text-center">
     <% if @images.present? %>
      <%= link_to("/album/#{@user.id}/create", :class => "cd_page_next py-2 px-3 mr-3 text-white") do %>
       <span class="fa fa-angle-double-left"></span> 写真を追加
      <% end %>
      <%= link_to("/album/#{@user.id}/edit_message", :class => "cd_page_next py-2 px-3 mr-2 text-white") do %>
       作成画面へ <span class="fa fa-angle-double-right"></span>
      <% end %>
     <% else %>
      <%= link_to("/album/#{@user.id}/create", :class => "cd_page_next py-2 px-3 mr-3 text-white") do %>
       <span class="fa fa-upload"></span> 写真をアップロードする
      <% end %>
     <% end %>
    </div> 
     
    </div>

    

</div>