<!DOCTYPE html>
<html>
  <head>
    <title>Timecapsule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>

     <%= yield %>

    <footer class="footer bg-light mw-100">
     <ul class=" gide text-right">
      <li class="text-warning gideline">利用規約</li>
      <li class="text-warning gideline">プライバシーポリシー</li>
      <li class="text-warning gideline">特定商取引に関する表記</li>
     </ul>
    </footer>

    

  </body>
</html>
